@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Azureoth.Datastructures.UserApplication>


<div class="row">
    <div class="col-md-12">
        <div class="row margin-t">
            <h3>Your projects</h3>

            @if (Model != null && Model.Count() > 0)
            {

                foreach (var app in Model)
                {
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="/home/app/@app.Id">@app.Title</a>
                            </div>
                            <div class="panel-body">
                                @app.Description
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div>You don't have any apps yet!</div>
            }
        </div>
        <div class="row margin-t">
            <div>
                <a id="new-app" class="btn btn-primary btn-sm" href="#" role="button">Create new project</a>
            </div>

            <form id="new-app-form" data-action="/apps" class="hidden margin-t">
                <div class="alert alert-danger hidden">Something went wrong!</div>
                <div class="form-group">
                    <label for="Title" class="col-md-2 control-label">Title:</label>
                    <div class="col-md-10">
                        <input name="title" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-md-2 control-label">Description:</label>
                    <div class="col-md-10">
                        <input name="description" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="submit btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">

    </div>
</div>
